<style>/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 600px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>
<div class="dropdown">
  <button class="dropbtn">Choose your Distro...</button>
  <div class="dropdown-content">
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_alpine.jpg"><img class="distrologo" src="alpine_logo.svg">alpine</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_android.jpg"><img class="distrologo" src="android_logo.svg">android</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_antergos.jpg"><img class="distrologo" src="antergos_logo.svg">antergos</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_arch.jpg"><img class="distrologo" src="arch_logo.svg">arch</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_archlabs.jpg"><img class="distrologo" src="archlabs_logo.svg">archlabs</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_archmerge.jpg"><img class="distrologo" src="archmerge_logo.svg">archmerge</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_arco.jpg"><img class="distrologo" src="arco_logo.svg">arco</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_backtrack.jpg"><img class="distrologo" src="backtrack_logo.svg">backtrack</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_batocera.jpg"><img class="distrologo" src="batocera_logo.svg">batocera</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_blackarch.jpg"><img class="distrologo" src="blackarch_logo.svg">blackarch</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_blackbox.jpg"><img class="distrologo" src="blackbox_logo.svg">blackbox</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_bodhi.jpg"><img class="distrologo" src="bodhi_logo.svg">bodhi</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_bunsenlabs.jpg"><img class="distrologo" src="bunsenlabs_logo.svg">bunsenlabs</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_centos.jpg"><img class="distrologo" src="centos_logo.svg">centos</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_chakra.jpg"><img class="distrologo" src="chakra_logo.svg">chakra</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_cinnamon.jpg"><img class="distrologo" src="cinnamon_logo.svg">cinnamon</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_crunchbang.jpg"><img class="distrologo" src="crunchbang_logo.svg">crunchbang</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_debian.jpg"><img class="distrologo" src="debian_logo.svg">debian</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_deepin.jpg"><img class="distrologo" src="deepin_logo.svg">deepin</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_elementaryos.jpg"><img class="distrologo" src="elementaryos_logo.svg">elementaryos</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_endless.jpg"><img class="distrologo" src="endless_logo.svg">endless</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_fedora.jpg"><img class="distrologo" src="fedora_logo.svg">fedora</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_funtoo.jpg"><img class="distrologo" src="funtoo_logo.svg">funtoo</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_gecko.jpg"><img class="distrologo" src="gecko_logo.svg">gecko linux</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_gentoo.jpg"><img class="distrologo" src="gentoo_logo.svg">gentoo</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_hannahmontana.jpg"><img class="distrologo" src="hannahmontana_logo.svg">hannahmontana</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_kali.jpg"><img class="distrologo" src="kali_logo.svg">kali</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_kdeneon.jpg"><img class="distrologo" src="kde_logo.svg">kde neon</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_knoppix.jpg"><img class="distrologo" src="knoppix_logo.svg">knoppix</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_kubuntu.jpg"><img class="distrologo" src="kubuntu_logo.svg">kubuntu</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_lfs.jpg"><img class="distrologo" src="lfs_logo.svg">lfs</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_linuxlite.jpg"><img class="distrologo" src="linux_logo.svg">linux lite</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_linuxmint.jpg"><img class="distrologo" src="linuxmint_logo.svg">linuxmint</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_linuxondex.jpg"><img class="distrologo" src="linux_logo.svg">linux on dex</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_lmde.jpg"><img class="distrologo" src="lmde_logo.svg">lmde</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_lubuntu.jpg"><img class="distrologo" src="lubuntu_logo.svg">lubuntu</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_mageia.jpg"><img class="distrologo" src="mageia_logo.svg">mageia</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_mandriva.jpg"><img class="distrologo" src="mandriva_logo.svg">mandriva</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_manjaro.jpg"><img class="distrologo" src="manjaro_logo.svg">manjaro</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_mintmate.jpg"><img class="distrologo" src="mintmate_logo.svg">mintmate</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_mx.jpg"><img class="distrologo" src="mx_logo.svg">mx</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_nixos.jpg"><img class="distrologo" src="nixos_logo.svg">nixos</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_nutyx.jpg"><img class="distrologo" src="nutyx_logo.svg">nutyx</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_opensuse.jpg"><img class="distrologo" src="opensuse_logo.svg">opensuse</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_pardus.jpg"><img class="distrologo" src="pardus_logo.svg">pardus</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_parrot.jpg"><img class="distrologo" src="parrot_logo.svg">parrot</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_pclinuxos.jpg"><img class="distrologo" src="pclinuxos_logo.svg">pclinuxos</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_tux.jpg"><img class="distrologo" src="tux_logo.svg">tux</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_popos.jpg"><img class="distrologo" src="pop_logo.svg">pop os</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_puppy.jpg"><img class="distrologo" src="puppy_logo.svg">puppy</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_pureos.jpg"><img class="distrologo" src="pureos_logo.svg">pureos</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_raspbian.jpg"><img class="distrologo" src="raspbian_logo.svg">raspbian</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_redhat.jpg"><img class="distrologo" src="redhat_logo.svg">redhat</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_redhatold.jpg"><img class="distrologo" src="redhat_logo.svg">redhat (old logo)</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_scientific.jpg"><img class="distrologo" src="scientific_logo.svg">scientific</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_slackware.jpg"><img class="distrologo" src="slackware_logo.svg">slackware</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_solus.jpg"><img class="distrologo" src="solus_logo.svg">solus</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_sparky.jpg"><img class="distrologo" src="sparky_logo.svg">sparky</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_steam.jpg"><img class="distrologo" src="steam_logo.svg">steam</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_tails.jpg"><img class="distrologo" src="tails_logo.svg">tails</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_templeos.jpg"><img class="distrologo" src="templeos_logo.svg">templeos</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_trisquel.jpg"><img class="distrologo" src="trisquel_logo.svg">trisquel</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_tumbleweed.jpg"><img class="distrologo" src="tumbleweed_logo.svg">tumbleweed</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_turbo.jpg"><img class="distrologo" src="turbo_logo.svg">turbo</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_ubuntu.jpg"><img class="distrologo" src="ubuntu_logo.svg">ubuntu</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_ubuntustudio.jpg"><img class="distrologo" src="ubuntustudio_logo.svg">ubuntustudio</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_void.jpg"><img class="distrologo" src="void_logo.svg">void</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_voyager.jpg"><img class="distrologo" src="voyager_logo.svg">voyager</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_wsl.jpg"><img class="distrologo" src="wsl_logo.svg">wsl</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_wsl2.jpg"><img class="distrologo" src="wsl2_logo.svg">wsl2</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_xubuntu.jpg"><img class="distrologo" src="xubuntu_logo.svg">xubuntu</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_zorin.jpg"><img class="distrologo" src="zorin_logo.svg">zorin</a>
</div>
</div>
