<style>/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.distrologo{
	width:50px;
	margin:  0 40px 0 40px;
	max-height:50px;
	display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  width:100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
	width: 130px;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
	text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
/*.dropdown:hover .dropdown-content {display: block;} */

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>
<div class="dropdown">
  <button class="dropbtn" onclick="document.getElementById('dark_metal_dropdown').style.display='block';return false;">Choose your Distro...</button>
  <div class="dropdown-content" id="dark_metal_dropdown">
	<img src="http://crogersmedia.com/linux_logos/close_icon_x.svg" onclick="document.getElementById('dark_metal_dropdown').style.display='none';return false;" style="position:absolute;top:0;right:0;margin:10px;width:20px;">
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_alpine.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/alpine_logo.svg">alpine</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_android.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/android_logo.svg">android</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_antergos.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/antergos_logo.svg">antergos</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_arch.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/arch_logo.svg">arch</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_archlabs.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/archlabs_logo.svg">archlabs</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_archmerge.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/archmerge_logo.svg">archmerge</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_arco.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/arco_logo.svg">arco</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_backtrack.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/backtrack_logo.svg">backtrack</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_batocera.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/batocera_logo.svg">batocera</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_blackarch.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/blackarch_logo.svg">blackarch</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_backbox.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/backbox_logo.svg">backbox</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_bodhi.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/bodhi_logo.svg">bodhi</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_bunsenlabs.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/bunsenlabs_logo.svg">bunsenlabs</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_centos.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/centos_logo.svg">centos</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_chakra.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/chakra_logo.svg">chakra</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_peppermint.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/peppermint_logo.svg">peppermint</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_crunchbang.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/crunchbang_logo.svg">crunchbang</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_debian.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/debian_logo.svg">debian</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_deepin.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/deepin_logo.svg">deepin</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_elementaryos.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/elementaryos_logo.svg">elementary</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_endless.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/endless_logo.svg">endless</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_fedora.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/fedora_logo.svg">fedora</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_funtoo.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/funtoo_logo.svg">funtoo</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_gecko.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/gecko_logo.svg">gecko linux</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_gentoo.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/gentoo_logo.svg">gentoo</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_hannahmontana.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/hannahmontana_logo.svg">hannah</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_kali.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/kali_logo.svg">kali</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_kdeneon.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/kdeneon_logo.svg">kde neon</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_knoppix.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/knoppix_logo.svg">knoppix</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_kubuntu.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/kubuntu_logo.svg">kubuntu</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_lfs.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/lfs_logo.svg">lfs</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_linuxlite.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/linuxlite_logo.svg">linux lite</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_mint.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/mint_logo.svg">linux mint</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_linuxondex.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/linuxondex_logo.svg">linux on dex</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_lmde.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/lmde_logo.svg">lmde</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_lubuntu.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/lubuntu_logo.svg">lubuntu</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_mageia.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/mageia_logo.svg">mageia</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_mandriva.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/mandriva_logo.svg">mandriva</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_manjaro.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/manjaro_logo.svg">manjaro</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_mintmate.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/mintmate_logo.svg">mintmate</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_mx.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/mx_logo.svg">mx</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_nixos.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/nixos_logo.svg">nixos</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_nutyx.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/nutyx_logo.svg">nutyx</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_opensuse.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/opensuse_logo.svg">opensuse</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_pardus.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/pardus_logo.svg">pardus</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_parrot.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/parrot_logo.svg">parrot</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_pclinux.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/pclinux_logo.svg">pclinux</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_tux.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/tux_logo.svg">tux</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_popos.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/popos_logo.svg">pop os</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_puppy.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/puppy_logo.svg">puppy</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_pureos.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/pureos_logo.svg">pureos</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_raspbian.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/raspbian_logo.svg">raspbian</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_redhat.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/redhat_logo.svg">redhat</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_redhatold.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/redhat_logo.svg">redhat (old)</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_scientific.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/scientific_logo.svg">scientific</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_slackware.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/slackware_logo.svg">slackware</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_solus.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/solus_logo.svg">solus</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_sparky.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/sparky_logo.svg">sparky</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_steamos.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/steamos_logo.svg">steamos</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_tails.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/tails_logo.svg">tails</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_templeos.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/templeos_logo.svg">templeos</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_trisquel.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/trisquel_logo.svg">trisquel</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_tumbleweed.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/tumbleweed_logo.svg">tumbleweed</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_turbo.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/turbo_logo.svg">turbo</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_ubuntu.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/ubuntu_logo.svg">ubuntu</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_ubuntustudio.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/ubuntustudio_logo.svg">ubuntustudio</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_void.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/void_logo.svg">void</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_voyager.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/voyager_logo.svg">voyager</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_wsl.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/wsl_logo.svg">wsl</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_wsl2.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/wsl2_logo.svg">wsl2</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_xubuntu.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/xubuntu_logo.svg">xubuntu</a>
   <a href="https://gitlab.com/CRogers/linux-goodies/tree/master/wallpapers/all_distros/dark_metal/dark_metal_zorin.jpg"><img class="distrologo" src="http://crogersmedia.com/linux_logos/zorin_logo.svg">zorin</a>
</div>
</div>
